<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <img src="http://localhost:1337/images/logo.png" style=" width:120px;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-dark bg-dark" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="/User/Homepage">Home</a>
            <a class="nav-item nav-link" href="/Request/Requestpage">New Borrowing Request</a>
            <a class="nav-item nav-link" href="/Request/RequestList">All Lending Requests</a>
            <a class="nav-item nav-link active" href="/Lend/Lendrequests">My Borrowings<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/Lend/LendList">My Lendings</a>
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0" action="/User/logout" method="GET" style="position: absolute; right: 20px">
        <span class="nav justify-content-end navbar-light" style="color: azure; padding-right: 10px">
            Hi,
            <%=req.session.username %>!</span><button class="btn btn-light my-2 my-sm-0" style="float:right" type="submit">Logout</button>
    </form>
</nav>

<br>
<br>
<div class="row">
    <div class="col-2 col-sm-2"></div>
    <div class="col-8 col-sm-8">
        <table class="table">
            <tr>
                <th>
                    Name:
                </th>
                <td>
                    <%=model.name%>
                </td>
            </tr>
            <tr>
                <th>
                    Reason:
                </th>
                <td>
                    <%=model.descr%>
                </td>
            </tr>
            <tr>
                <th>
                    Amount:
                </th>
                <td>
                    <%=model.borrowingAmount%>
                </td>
            </tr>
            <tr>
                <th>
                    Start Date:
                </th>
                <td>
                    <%=model.startDate%>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn btn-info" style="width: 170px; position: relative; right: 10px;">UPDATE</button>
                </td>
                <td>
                    <button class="btn btn-danger" style="width: 170px">DELETE</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-2 col-sm-2"></div>
</div>